# Merge conflict artifacts
*.orig
*.rej
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*

# Python byte code
*.py[co]

# Release artifacts
build
dist
*.egg-info
*.tar.gz
*.eggs
pyinstaller_wd
*.exe

# pytest artifacts
.cache

# coverage.py artifacts
.coverage
htmlcov

# IDE artifacts
.idea
*.autosave
